@import "tailwindcss";
@layer theme, base, components, utilities;

@plugin "tailwindcss-animate";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(21% 0.006 285.9);
  --color-muted: oklch(92% 0.004 286.3);
  --color-muted-foreground: oklch(59% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(21% 0.006 285.9);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(21% 0.006 285.9);
  --color-border: oklch(92% 0.004 286.3);
  --color-input: oklch(87.1% 0.005 286.3);
  --color-primary: oklch(54.1% 0.247 293);
  --color-primary-foreground: oklch(98.5% 0 0);
  --color-primary-start: oklch(72.4% 0.177 350.2);
  --color-primary-end: oklch(58.7% 0.204 277.4);
  --color-secondary: oklch(89.4% 0.055 293.3);
  --color-secondary-foreground: oklch(49.1% 0.241 292.6);
  --color-accent: oklch(94.3% 0.028 294.6);
  --color-accent-foreground: oklch(21% 0.006 285.9);
  --color-destructive: oklch(57.7% 0.215 27.3);
  --color-destructive-foreground: oklch(93.6% 0.031 17.7);
  --color-ring: oklch(60.6% 0.219 292.7);
  --color-success: oklch(69.6% 0.149 162.5);
  --color-success-foreground: oklch(97.9% 0.021 166.1);
  --color-warning: oklch(86% 0.173 91.8);
  --color-warning-foreground: oklch(98.7% 0.026 102.2);
  --radius: 0.5rem;
  --color-chart-1: oklch(12 76% 61%);
  --color-chart-2: oklch(173 58% 39%);
  --color-chart-3: oklch(197 37% 24%);
  --color-chart-4: oklch(43 74% 66%);
  --color-chart-5: oklch(27 87% 67%);
  --color-sidebar-background: oklch(0 0% 98%);
  --color-sidebar-foreground: oklch(240 5.3% 26.1%);
  --color-sidebar-primary: oklch(240 5.9% 10%);
  --color-sidebar-primary-foreground: oklch(0 0% 98%);
  --color-sidebar-accent: oklch(240 4.8% 95.9%);
  --color-sidebar-accent-foreground: oklch(240 5.9% 10%);
  --color-sidebar-border: oklch(220 13% 91%);
  --color-sidebar-ring: oklch(240 5% 64.9%);
}

@layer base {
  .dark {
    --color-background: oklch(21% 0.006 285.9);
    --color-foreground: oklch(100% 0 0);
    --color-muted: oklch(43.5% 0 0);
    --color-muted-foreground: oklch(75.7% 0 0);
    --color-popover: oklch(27.4% 0.005 286);
    --color-popover-foreground: oklch(100% 0 0);
    --color-card: oklch(27.4% 0.005 286);
    --color-card-foreground: oklch(100% 0 0);
    --color-border: oklch(40.9% 0 0);
    --color-input: oklch(43.5% 0 0);
    --color-primary: oklch(69.2% 0.179 298.8);
    --color-primary-foreground: oklch(98.5% 0 0);
    --color-primary-start: oklch(72.4% 0.177 350.2);
    --color-primary-end: oklch(58.7% 0.204 277.4);
    --color-secondary: oklch(43.2% 0.211 292.8);
    --color-secondary-foreground: oklch(98.5% 0 0);
    --color-accent: oklch(89.4% 0.055 293.3);
    --color-accent-foreground: oklch(27.4% 0.005 286);
    --color-destructive: oklch(83.3% 0.093 19.2);
    --color-destructive-foreground: oklch(40.3% 0.158 28.2);
    --color-ring: oklch(81.1% 0.101 293.6);
    --color-success: oklch(90.5% 0.089 164.2);
    --color-success-foreground: oklch(37.8% 0.073 168.9);
    --color-warning: oklch(97.3% 0.07 103.2);
    --color-warning-foreground: oklch(55.4% 0.121 66.4);
    --color-chart-1: oklch(220 70% 50%);
    --color-chart-2: oklch(160 60% 45%);
    --color-chart-3: oklch(30 80% 55%);
    --color-chart-4: oklch(280 65% 60%);
    --color-chart-5: oklch(340 75% 55%);
    --color-sidebar-background: oklch(240 5.9% 10%);
    --color-sidebar-foreground: oklch(240 4.8% 95.9%);
    --color-sidebar-primary: oklch(224.3 76.3% 48%);
    --color-sidebar-primary-foreground: oklch(0 0% 100%);
    --color-sidebar-accent: oklch(240 3.7% 15.9%);
    --color-sidebar-accent-foreground: oklch(240 4.8% 95.9%);
    --color-sidebar-border: oklch(240 3.7% 15.9%);
    --color-sidebar-ring: oklch(240 4.9% 83.9%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground overscroll-none;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  /* Custom scrollbar styling. Thanks @pranathiperii. */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: "";
    @apply absolute -inset-4 shadow-xl rounded-xl border;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .border-grid {
    @apply border-border/30 dark:border-border;
  }

  .container-wrapper {
    @apply min-[1800px]:max-w-[1536px] min-[1800px]:border-x border-border/30 dark:border-border mx-auto w-full;
  }

  .container {
    @apply px-4 xl:px-6 2xl:px-4 mx-auto max-w-[1536px];
  }
}
